body{
    margin: 0;
    top: 0;
    background: #f6f7f9;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    overflow: scroll;
}
.flex{
    display: flex;
}
.jflex{
    display: flex;
    justify-content: center;
}
.aflex{
    display: flex;
    align-items: center;
}
.header{
    height: 116px;
}
img{
    pointer-events: none;
}
.content{
    background-color: #fff;
    border-radius: 3px;
    width: 360px;
    margin-top: 6px;
}
.padding{
    padding: 30px 40px;
}
.title{
    color: #000;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
    margin-bottom:11px;
}
.gen-inp{
    height: 2.5rem;
    font-size: 15.3px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    border: 1px solid#babfc3;
    color: #000;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    margin-top: 12px;
    border-radius: 3px;
    letter-spacing: 0.5px;
}
.gen-inp:focus{
    border: 1px solid #ffd249;

}
.border{
    border: 1px solid #ffd249;
}
.capy{
    width: 100%;
    margin-top: 12px;
    border: 0.1px solid #babfc3;
    padding: 0;
    margin-bottom: -11px;
}
.btn{
    background-color: #ffd249;
    border-color: transparent;
    width: 100%;
    color: #000;
    text-align: center;
    height: 40px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
}
.btn:hover{
    border: 1px solid #000;
    cursor: pointer;
}
.footer{
    width: 100%;
    text-align: center;
    color: #6d7d88;
    font-size: 1rem;
    border-top: 1px solid #dce2eb;
    height: 65px;
    font-weight: 400;
}

.footer a:hover{
    color: #000;
    cursor: pointer;
}
.none-none{
    display: none;
}
.link{
    background-color: #dfe5ee;
    border-color: transparent;
    width: 100%;
    color: #000;
    text-align: center;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:769px){
    .content{
        width: 100%;
        background-color: #f6f7f9;
        padding:0px 20px;
        margin-top: -2px;
    }
    .padding{
        padding: 0;
    }
    .gen-inp{
        height: 50px!important;
    }
    .title{
       margin-bottom: 2px;
       margin-top: -2px;
       
    }
    .btn{
        height: 50px!important;
        margin-top: 20px;
    }
    .none{
        display: none;
    }
    .none-none{
        display: flex;
    }
}